@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color:rgb(197, 187, 187);
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 12px;
  line-height: 20px;
  /* margin: 0; */
  padding: 0;
}

.container{
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}

.card{
  border-radius: 3px;
  text-align: center;
  background-color: white;
  margin: 5px auto;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  width: 80%;
  padding: 5px;
}

.spacer {
  margin-bottom: 20px;
}

h1,h2,h3 {
  /* padding-top: 10px; */
  color: brown;
}

h1 {
  padding-top: 20px;
  font-size: 32px;
}

h2 {
  padding-top: 10px;
  font-size: 30px;
  margin: 0 auto 10px auto;
}

h3 {
  margin: 0;
  font-size: 16px;
}

#profile-pic {
  width: 100px;
  border-radius: 50%;
  border: 0.5px solid black;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}


ul {
  list-style: none;
  padding: 0;
  padding: 5px 5px 20px 5px;
}

li {
  display: inline;
  padding: 5px 5px 20px 5px;
  font-size: 36px;
}

p {
  margin: 5px;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color:rgb(197, 187, 187);
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 12px;
  line-height: 20px;
  /* margin: 0; */
  padding: 0;
}

.container{
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}

.card{
  border-radius: 3px;
  text-align: center;
  background-color: white;
  margin: 5px auto;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  width: 85%;
  padding: 5px;
}

.spacer {
  margin-bottom: 20px;
}

h1,h2,h3 {
  /* padding-top: 10px; */
  color: brown;
}

h1 {
  padding-top: 20px;
  font-size: 32px;
}

h2 {
  padding-top: 10px;
  font-size: 30px;
  margin: 0 auto 10px auto;
}

h3 {
  margin: 0;
  font-size: 16px;
}

#profile-pic {
  width: 100px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}


ul {
  list-style: none;
  padding: 0;
  padding: 5px 5px 20px 5px;
}

li {
  display: inline;
  padding: 5px 5px 20px 5px;
  font-size: 36px;
}

p {
  margin: 5px;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 95%;
  }

  .card {
    font-size: 8px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }
}
